body{
    width: 357px;
    height: 326px;
    background-color: FFFFFF;
}
img:hover{
  filter: invert(1);
}
.center{
  display: grid;
  place-items: center;
}
label{
  font-family: "Mochiy Pop One";
  font-size: 15px;
}
#logo{
  margin-bottom: 25px;
}
#checks{
  display: grid;
  place-items: center;
  align-items:left ;
}